Source: edi-boot-shim
Section: devel
Priority: optional
Build-Depends: debhelper (>= 10),
               fakeroot,
               ruby-ronn (<< 0.8.0) | ronn,
Maintainer: Matthias Luescher <lueschem@gmail.com>
Standards-Version: 3.9.8

Package: edi-boot-shim
Architecture: all
Depends: ${misc:Depends},
Description: Embedded Development Infrastructure Boot Shim
 Small utility that helps updating the boot configuration.
