Source: edi-boot-shim
Section: devel
Priority: optional
Build-Depends: debhelper (>= 9),
               u-boot-tools,
Maintainer: Matthias Luescher <lueschem@gmail.com>
Standards-Version: 3.9.8

Package: edi-boot-shim
Architecture: all
Depends: ${misc:Depends},
         u-boot-tools,
Description: Embedded Development Infrastructure Boot Shim
 Small utility that helps updating the u-boot boot configuration
 without copying around inital ramdisks and kernels.

